.nav-margin {
  margin-left: calc(13vw - 33px);
}

.center-line {
  right: -0.84px;
  width: 1px;
  border-right: 1.34px solid #000000;
  opacity: 0.08;
}

.triangle-container {
  bottom: 60px;
  right: -7.84px;
  width: 15px;
  height: 13px;
}
